body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    position: relative;
    background: white;
    /* left: 10%; */
  }

.game-info{
  position: relative;
  top: 10rem;
  left: 4rem;
}
.game-title{
  font-size: 4rem;
}
.game-description{
  font-size: 1.5rem;
}