body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    position: relative;
    background: black;
    /* left: 10%; */
    overflow-x: hidden;
  }
.game-info{
  position: relative;
  color: white;
  top: 10rem;
  left: 4rem;
}
.game-title{
  font-size: 4rem;
}
.game-description{
  font-size: 1.5rem;
}
.play-button{
  margin: 2rem;
  /* padding-inline: 5rem; */
  /* background: white; */
  color: white;
  
}
.play{
  border: 2px solid white;
  margin: 2rem;
}